@model IEnumerable<MRTOnlineTicketingSystem.Models.MRTTicket>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Admin Dashboard <span class="sr-only">(current)</span></a>
                </li>
            

            </ul>


            @using (Html.BeginForm("SearchIndex", "User", FormMethod.Get, new { @class = "form-inline my-6 my-lg-0" }))
            {
                <label></label>
                @Html.TextBox("SearchString", null, new { @class = "datepicker  form-control", @placeholder = "Search ticket by date" })

                <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="submit" />

            }


        </div>
    </nav>
    @if (ViewBag.Name != null)
    {
        <p>Welcome back, @ViewBag.Name !</p>
    }


    @if (ViewBag.error != null)
    {
        <p>eror la wei</p>
    }

<p>@ViewBag.count_KampungSelamat</p>
    <table class="table">
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(x => x.PurchaseDateTime)</th>
            <th>@Html.DisplayNameFor(x => x.CustomerName)</th>
            <th>@Html.DisplayNameFor(x => x.CustomerEmail)</th>
            <th>@Html.DisplayNameFor(x => x.CurrentLocationIndex)</th>
            <th>@Html.DisplayNameFor(x => x.DestinationLocationIndex)</th>
            <th>@Html.DisplayNameFor(x => x.TotalAmount)</th>
            <th>Action</th>
        </tr>
        @{ int i = 1;}
        @foreach (var x in Model)
        {
    <tr>
        <td>@i</td>
        @{
            i++;
        }
        <td>@Html.DisplayFor(y => x._PurchaseDateTime)</td>
        <td>@Html.DisplayFor(y => x.CustomerName)</td>
        <td>@Html.DisplayFor(y => x.CustomerEmail)</td>
        <td>@Html.DisplayFor(y => x.DictStation[x.CurrentLocationIndex])</td>
        <td>@Html.DisplayFor(y => x.DictStation[x.DestinationLocationIndex])</td>
        <td>@Html.DisplayFor(y => x._TotalAmount)</td>
        <td>@Html.ActionLink("Details", "Details", new { id = x.Invoiceid })</td>

    </tr>
        }
    </table>
</body>
@section Scripts {

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">

        $(".datepicker").datepicker({
            dateFormat: "dd/mm/yy",
        });
    </script>
}