@model MRTOnlineTicketingSystem.Models.User
<head>
    <title>Register</title>
</head>
<body>

    <h1> Login</h1>

    @using (Html.BeginForm())
    {

        <div class=" row">
            <p class="col-md-6">
                <label> @Html.DisplayNameFor(x => x.Email)</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </p>
        </div>

        <div class=" row">
            <p class="col-md-6">
                <label> @Html.DisplayNameFor(x => x.Password)</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            </p>
        </div>


        <p> <input type="submit" value="Login" class="btn-success btn-md" /></p>
    }
</body>

